---
import { Image } from "astro:assets";

const { title, description, image } = Astro.props;
---

<div class="flex flex-col rounded-lg border bg-background2 p-5">
  {
    image && (
      <div>
        {
          <Image
            class="w-full object-cover"
            alt="Feature illustration"
            width={1200}
            height={1200}
            src={image}
            format="webp"
          />
        }
      </div>
    )
  }

  <div class="mt-8 pb-5">
    <h3 class="text-base font-bold sm:text-lg md:text-xl lg:text-2xl">
      {title}
    </h3>
    <p
      class={`mt-2 md:mt-5 text-sm font-medium line-clamp-3`}
      set:html={description}
    />
  </div>
</div>
